#example gitignore file, more than enough for our project.

# Did NOT ignore the .env file, as it has no personal information. 
# It only contains uname and password for the "Docker's" MongoDB instance.

# Ignore logs
*.log
orchestrator_log.txt

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore VSCode settings
.vscode/


# Ignore virtual environments (if any)
venv/
env/
.env/

# Ignore compiled files and system files
*.DS_Store
*.swp
Thumbs.db

# Ignore Python egg files
*.egg-info/
*.egg
